<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}p'tit Royaume{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<header class="header">
    <nav class="navbar">
        <a href="{{ url('page_homepage') }}" class="brand">Brand/logo</a>
        <ul class="menu">
            <li class="menu-item"><a href="#!">A propos</a></li>
            <li class="menu-item"><a href="#!"> Service</a></li>
            <li class="menu-item"><a href="#!"> Frais de scolarite</a></li>
            <li class="menu-item"><a href="{{ url('page_contact') }}"> Contactez nous</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block body %}{% endblock %}
</main>

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
